@import url('reset.css');

body {
  font-family:arial, sans-serif;
  color:#444;
  font-size:14px;
  line-height:1.3;
}

a { color:#2387cb; text-decoration:underline; }
a:hover { color:#444; text-decoration:underline; }
a:visited { color:#2387cb; text-decoration:line-through; }

ul li, ol li {
  padding:0 0 0.4em 0;
}


.container {
  width:1000px;
  margin:26px auto 26px auto;
  padding:0 0 0 20px;
  -moz-transition: all 1s; 
  -webkit-transition: all 1s;  
  -ms-transition: all 1s;  
  -o-transition: all 1s;  
  transition: all 1s; 
}

.simpliste_block {
  width:480px;
  height:170px;
  float:left;
  margin:0 20px 24px 0;
  background:#f9f9f9;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow:0 1px 0 #d3d3d3;
  -moz-box-shadow:0 1px 0 #d3d3d3;
  box-shadow:0 1px 0 #d3d3d3;
}
.active,
.simpliste_block.active {
  -webkit-box-shadow:0 0 6px #f3a4a6;
  -moz-box-shadow:0 0 6px #f3a4a6;
  box-shadow:0 0 6px #f3a4a6;
}

.simpliste_block .blockwrap {
  margin:6px 10px 0 38px;
  height:158px;
  overflow:auto;
}

#about {
  background:#e4f8fe url(../images/bg-logo.png) no-repeat 0 0;
  position:relative;
}
#about .blockwrap {
  margin-left:94px;
}

#license {
  background:#f7e8fa;
}

.lang {
  position:absolute;
  top:10px;
  right:10px;
  width:52px;
}
.lang li {
  display:inline-block;
  width:24px;
  height:15px;
  line-height:15px;
  margin:0 0 0 2px;
  float:left;
  background:#f3fcff;
  text-align:center;
  color:#c6f0fd;
}
.lang li a {
  color:#c6f0fd;
}
.lang li a:hover {
  color:#65d8fc;
}

.standarts_badges {
  width:170px;
  float:right;
  padding:0 0 0 15px;
}
.standarts_badges img {
  margin:0 8px 0 0;
}

.skins_block {
  width:202px;
  float:left;
  padding:0 0 0 15px;
}
.skins_block img {
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 0px 4px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 0px 4px;
  box-shadow: rgba(0,0,0,0.2) 0px 0px 4px;
  margin:0 14px 0 0;
}

.devices_block {
  width:160px;
  float:right;
  padding:0 0 0 15px;
}

a.pseudolink {
  text-decoration:none;
  border-bottom:1px dashed #2387cb;
}
a.pseudolink:hover { 
  text-decoration:none;
  border-bottom:1px dashed #444;
}

.icofilder {
  margin:0 0 -2px;
}

h1, h2 {
  font-weight:normal;
}
h1 {
  font-size:23px;
  margin: 0;
  padding: 18px 0 10px;
}
h3, h4, h5, h6 {
  font-weight:bold;
  color:#000;
}

p {
  padding:0 0 8px 0;
  margin:0;
}

ol, 
ul {
  padding:0 0 4px 1.4em;
  margin:0;
}
ol li,
ul li {
  padding:0 0 4px 0;
}

.form label {
  display:inline-block;
  padding:0 0 4px 0;
}

a.button,
.button {
  border:0;
  text-align:center; 
  text-decoration:none;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  background:#f90000;
  color:#fff;
  padding:4px 10px;
  font-family:verdana, sans-serif;
  display:inline-block;
  font-size:11px;
}
a.button:hover,
.button:hover {
  background:#fb3232;
}
a.button:active,
.button:active {
  background:#ea0000;
  color:#8c1515;
  text-shadow:0px 1px 1px rgba(255,255,255,0.8);
  -webkit-box-shadow:rgba(0,0,0,0.4) 0px -2px 0px inset;
  -moz-box-shadow:rgba(0,0,0,0.4) 0px -2px 0px inset;
  box-shadow:rgba(0,0,0,0.4) 0px -2px 0px inset;
}

a.button_demo {
  background:#1477bb;
}
a.button_demo:hover {
  background:#1788d5;
}
a.button_demo:active {
  background:#1477bb;
  color:#101547;
}

.table {
  width:100%;
}
.table th {
  padding:5px 7px;
  font-weight:normal;
  text-align:left;
  font-size:1.2em;
  background:#ffffff;
  background:-webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#F7F7F7));
  background:-webkit-linear-gradient(#ffffff, #F7F7F7);
  background:-moz-linear-gradient(#ffffff, #F7F7F7);
  background:-ms-linear-gradient(#ffffff, #F7F7F7);
  background:-o-linear-gradient(#ffffff, #F7F7F7);
  background:linear-gradient(#ffffff, #F7F7F7);
}
.table td {
  padding:5px 7px;
}
.table tr {
  border-bottom:1px solid #ddd;
}
.table tr:last-child {
  border:0;
}

.warning {
  border:1px solid #ec252e;
  color:#fff;
  padding:8px 14px;
  background:#EA0000;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
}
.success {
  border:1px solid #399f16;
  color:#fff;
  background:#399f16;
  padding:8px 14px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
}
.message {
  border:1px solid #f1edcf;
  color:#000;
  background:#fbf8e3;
  padding:8px 14px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
}


/* Columns 
-------
.col_33 | .col_33 | .col_33
.clearfix
-------
.col_75 | .col_25
.clearfix
-------
.col_66 | .col_33
.clearfix
-------
.col_50 | .col_50
.clearfix
-------
.col_100
-------
*/
.col_25 {
  width:23%;
  margin:0 2% 0 0;
  float:left;
}
.col_33 {
  width:31%;
  margin:0 2% 0 0;
  float:left;
}
.col_50 {
  width:48%;
  margin:0 2% 0 0;
  float:left;
}
.col_66 {
  width:64%;
  margin:0 2% 0 0;
  float:left;
}
.col_75 {
  width:73%;
  margin:0 2% 0 0;
  float:left;
}
.col_100 {
  width:98%;
  margin:0 2% 0 0;
}

.col_25.wrap { width:25%; margin:0;}
.col_33.wrap { width:33%; margin:0;}
.col_50.wrap { width:50%; margin:0;}
.col_66.wrap { width:66%; margin:0;}
.col_75.wrap { width:75%; margin:0;}
.col_100.wrap { width:100%; margin:0;}
/* End columns */


/* Helper classes */
.center {text-align:center;}
.left {text-align:left;}
.right {text-align:right;}

.img_floatleft {float:left; margin:0 10px 5px 0;}
.img_floatright {float:right; margin:0 0 5px 10px;}

.img {max-width:100%;}
/* End helper classes */

a.button { color:auto; }


/*jspPane*/
.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 7px;
	height: 100%;
  background:transparent;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 8px;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: transparent;
	position: relative;
}

.jspDrag
{
	background: #fff;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.blockwrap:hover .jspDrag,
.jspHover,
.jspActive {
  background:#D3D3D3;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}


.addthis_toolbox {
  display: inline-block;
  margin: 0 0 -0.3em 6em;
  opacity: 0.5;
}

@media only screen and (min-width:1600px) { /* 3 columns */
  .container {
    width:1500px;
  }
}

@media only screen and (max-width:1600px) { /* 2 columns */
  .container {
    width:1000px;
  }
}
@media only screen and (max-width:1024px) { /* 1 column */
  .container {
    width:500px;
  }
}

@media only screen and (max-width:768px) { /* Tablet */
  .col_25,
  .col_33,
  .col_66,
  .col_50 ,
  .col_75  {
    width:98%;
    float:none;
  } 
  
  .form label {
    padding:10px 0 8px 0;
  }
  
  .container {
    width:94%;
    padding:0 3%;
  }
  
  .simpliste_block,
  #about {
    width:100%;
    height:auto;
    margin-right:0;
  }
  
 
  .simpliste_block .blockwrap {
    height:auto;
    margin-bottom:24px;
  }

  .addthis_toolbox {
    margin-bottom:0;
  }
}

@media only screen and (max-width:480px) { /* Smartphone */
  .form textarea {
    width:100%;
  }  
  .form label {
    padding:10px 0 8px 0;
  }
}


@media print { /* Printer */
  * { background:transparent !important; color:black !important; text-shadow:none !important; filter:none !important; -ms-filter:none !important; }
  a, a:visited { color:#444 !important; text-decoration:underline; }
  a[href]:after { content:" (" attr(href) ")"; }
  abbr[title]:after { content:" (" attr(title) ")"; }
  pre, blockquote { border:1px solid #999; page-break-inside:avoid; }
  thead { display:table-header-group; }
  tr, img { page-break-inside:avoid; }
  img { max-width:100% !important; }
  @page { margin:0.5cm; }
  p, h2, h3 { orphans:3; widows:3; }
  h2, h3{ page-break-after:avoid; }
  
  .header, .footer, .form {display:none;}
  .col_33, .col_66, .col_50  { width:98%; float:none; } 
}