/* "Simpliste" template. Renat Rafikov. http://cssr.ru/simpliste/ */

/* CSS reset. Based on HTML5 boilerplate reset http://html5boilerplate.com/  */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display:block; }
audio[controls], canvas, video { display:inline-block; *display:inline; *zoom:1; }
html { font-size:100%; overflow-y:scroll; -webkit-overflow-scrolling:touch; -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
body { margin:0; font-size:13px; line-height:1.231; }
body, button, input, select, textarea { font-family:sans-serif; color:#222; }
a { color:#00e; }
a:visited { color:#551a8b; }
a:focus { outline:thin dotted; }
a:hover, a:active { outline:0; }
abbr[title] { border-bottom:1px dotted; }
b, strong { font-weight:bold; }
blockquote { margin:1em 40px; }
dfn { font-style:italic; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
ins { background:#ff9; color:#000; text-decoration:none; }
mark { background:#ff0; color:#000; font-style:italic; font-weight:bold; }
pre, code, kbd, samp { font-family:monospace, monospace; _font-family:'courier new', monospace; font-size:1em; }
pre { white-space:pre; white-space:pre-wrap; word-wrap:break-word; }
q { quotes:none; }
q:before, q:after { content:""; content:none; }
small { font-size:85%; }
sub, sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
sup { top:-0.5em; }
sub { bottom:-0.25em; }
ul, ol { margin:1em 0; padding:0 0 0 2em; }
dd { margin:0 0 0 40px; }
nav ul, nav ol { list-style:none; margin:0; padding:0; }
img { border:0; -ms-interpolation-mode:bicubic; }
svg:not(:root) { overflow:hidden;}
figure { margin:0; }
form { margin:0; }
fieldset { border:0; margin:0; padding:0; }
legend { border:0; *margin-left:-7px; padding:0; }
label { cursor:pointer; }
button, input, select, textarea { font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle; }
button, input { line-height:normal; *overflow:visible; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor:pointer; -webkit-appearance:button; }
input[type="checkbox"], input[type="radio"] { box-sizing:border-box; }
input[type="search"] { -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0; }
textarea { overflow:auto; vertical-align:top; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color:#f0dddd; }
table { border-collapse:collapse; border-spacing:0; }
.hidden { display:none; visibility:hidden; }
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }
/* End CSS reset */


/* Columns 
-------
.col_33 | .col_33 | .col_33
.clearfix
-------
.col_66 | .col_33
.clearfix
-------
.col_50 | .col_50
.clearfix
-------
.col_100
-------
*/
.col_33 {
  width:31%;
  margin:0 2% 0 0;
  float:left;
}

.col_50 {
  width:48%;
  margin:0 2% 0 0;
  float:left;
}

.col_66 {
  width:64%;
  margin:0 2% 0 0;
  float:left;
}

.col_100 {
  width:98%;
  margin:0 2% 0 0;
}
/* End columns */


/* Helper classes */
.center {text-align:center;}
.left {text-align:left;}
.right {text-align:right;}

.img_floatleft {float:left; margin:0 10px 5px 0;}
.img_floatright {float:right; margin:0 0 5px 10px;}

.img {max-width:100%;}
/* End helper classes */


/* [Skin "Fresh"] */
.container {
  max-width:1300px;
  margin:0 auto;
}

.header {
  margin:0;
  padding:0 2% 0 2%;
  border-top:5px solid #58a22c;
  background:#fbfaf8;
  position:relative;
  z-index:2;
}
.header:before {
  content:"";
  display:block;
  height:100%;
  width:7000px;
  position:absolute;
  left:-2000px;
  top:-5px;
  border-top:5px solid #58a22c;
  background:#fbfaf8;
  z-index:-1;
}

.logo {
  float:left;
  display:inline-block;
  padding:1.3em 0 0;
  font-size:24px;
  color:#333;
}

.menu_main {
  width:60%;
  float:right;
  text-align:right;
  font-size:20px;
  margin:0;
}

.menu_main li {
  display:inline-block;
}

.menu_main li a {
  display:inline-block;
  height:85px;
  line-height:85px;
  padding:0 11px;
  color:#58a22c;
  text-transform:uppercase;
}
.menu_main li a:hover {
  color:#333;
}
.menu_main li a:visited {
  color:#7bbe53;
}

.menu_main li.active {
  background:#fff;
  position: relative;
  bottom:-12px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 3px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 3px;
}

.menu_main li.active a {
  color:#58a22c;
  text-decoration:none;
  cursor:default;
  position: relative;
  top: -4px;
}

.menu_main li.active:after {
  content:"";
  position:absolute;
  z-index:-1;
  bottom:15px;
  left:10px;
  width:50%;
  height:20%;
  -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.25);
  -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.25);
  box-shadow:0 15px 10px rgba(0, 0, 0, 0.25);
  -webkit-transform:rotate(-4deg);
  -moz-transform:rotate(-4deg);
  -o-transform:rotate(-4deg);
  transform:rotate(-4deg);
}

.hero {
  border-top:4px solid #d5f0c6;
  padding:20px 0 20px 2%;
  background:#e0ffed;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e2f7d6), to(#E0FFED));
  background: -webkit-linear-gradient(#e2f7d6, #E0FFED);
  background: -moz-linear-gradient(#e2f7d6, #E0FFED);
  background: -ms-linear-gradient(#e2f7d6, #E0FFED);
  background: -o-linear-gradient(#e2f7d6, #E0FFED);
  background: linear-gradient(#e2f7d6, #E0FFED);
  position:relative;
  z-index:1;
}
.hero:before {
  content:"";
  display:block;
  height:100%;
  width:7000px;
  position:absolute;
  left:-2000px;
  top:-4px;
  border-top:4px solid #d5f0c6;
  background:#e0ffed;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e2f7d6), to(#E0FFED));
  background: -webkit-linear-gradient(#e2f7d6, #E0FFED);
  background: -moz-linear-gradient(#e2f7d6, #E0FFED);
  background: -ms-linear-gradient(#e2f7d6, #E0FFED);
  background: -o-linear-gradient(#e2f7d6, #E0FFED);
  background: linear-gradient(#e2f7d6, #E0FFED);
  z-index:-1;
}

.info {
  margin:0 0 20px 0;
}

.article {
  padding:0 0 0 2%;
}

.footer {
  border-top:2px solid #d5f0c6;
  padding:2em 2% 3em 2%;
  color:#666;
}

.copyright {
  width:39%;
  float:left;
}

.menu_bottom {
  width:60%;
  float:right;
  text-align:right;
  margin:0;
  padding:0;
}
.menu_bottom li {
  display:inline-block;
  margin:0 0 0 7px;
  text-transform:uppercase;
}
.menu_bottom li a {
  color:#58a22c;
  display:inline-block;
  padding:3px 6px;
}
.menu_bottom li a:hover {
  color:#333;
}
.menu_bottom li.active a {
  text-decoration:none;
  cursor:default;
  background:#fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 3px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 3px;
}
.menu_bottom li.active a:hover {
  color:#58a22c;
}

/* Skin appearance */
html {
  overflow-x:hidden;
}
body {
  font-family:tahoma, arial, sans-serif;
  color:#111;
}

a { color:#58a22c; }
a:hover { color:#333; }
a:visited { color:#7bbe53; }

ul li, ol li {
  padding:0 0 0.4em 0;
}

.hero h1 {
  font-size:32px;
  color:#333;
}

h1, h2 {
  font-weight:normal;
  color:#58a22c;
}

h3, h4, h5, h6 {
  font-weight:bold;
  color:#58a22c;
}

h1 {
  font-size:22px;
}

.form label {
  display:inline-block;
  padding:0 0 4px 0;
}

a.button,
.button {
  text-align:center; 
  text-decoration:none;
  border:0;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  -webkit-box-shadow:#a2dcb7 0px 5px 5px;
  -moz-box-shadow:#a2dcb7 0px 5px 5px;
  box-shadow:#a2dcb7 0px 5px 5px;
  background:#fff;
  background:-webkit-gradient(linear, 0 0, 0 bottom, from(#fff), to(#e0feeb));
  background:-webkit-linear-gradient(#fff, #e0feeb);
  background:-moz-linear-gradient(#fff, #e0feeb);
  background:-ms-linear-gradient(#fff, #e0feeb);
  background:-o-linear-gradient(#fff, #e0feeb);
  background:linear-gradient(#fff, #e0feeb);
  color:#58a22c;
  padding:6px 10px;
  font-family:verdana, sans-serif;
  display:inline-block;
  margin:5px 0 0 0;
  position:relative;
}
a.button:before {
  content:"";
  display:block;
  position:absolute;
  z-index:-1;
  padding:7px 6px;
  width:100%;
  left:-7px;
  height:100%;
  top:-7px;
  background:#e0feeb;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#CAF0D8), to(#e0feeb));
  background: -webkit-linear-gradient(#CAF0D8, #e0feeb);
  background: -moz-linear-gradient(#CAF0D8, #e0feeb);
  background: -ms-linear-gradient(#CAF0D8, #e0feeb);
  background: -o-linear-gradient(#CAF0D8, #e0feeb);
  background: linear-gradient(#CAF0D8, #e0feeb);
  -webkit-border-radius:9px;
  -moz-border-radius:9px;
  border-radius:9px;
  border:1px solid #99d8b1;
}

a.button:hover,
.button:hover {
  -webkit-box-shadow:#a2dcb7 0px 3px 3px;
  -moz-box-shadow:#a2dcb7 0px 3px 3px;
  box-shadow:#a2dcb7 0px 3px 3px;
  background:#fff;
  background:-webkit-gradient(linear, 0 0, 0 bottom, from(#e0feeb), to(#fff));
  background:-webkit-linear-gradient(#e0feeb, #fff);
  background:-moz-linear-gradient(#e0feeb, #fff);
  background:-ms-linear-gradient(#e0feeb, #fff);
  background:-o-linear-gradient(#e0feeb, #fff);
  background:linear-gradient(#e0feeb, #fff);
}
a.button:active,
.button:active {
  color:#58a22c;
  -webkit-box-shadow:#a2dcb7 0px 2px 3px inset;
  -moz-box-shadow:#a2dcb7 0px 2px 3px inset;
  box-shadow:#a2dcb7 0px 2px 3px inset;
}

.table {
  width:100%;
}
.table th {
  padding:5px 7px;
  font-weight:normal;
  text-align:left;
  font-size:16px;
  background:#ffffff;
  background:-webkit-gradient(linear, 0 0, 0 bottom, from(#ffffff), to(#eafae1));
  background:-webkit-linear-gradient(#ffffff, #eafae1);
  background:-moz-linear-gradient(#ffffff, #eafae1);
  background:-ms-linear-gradient(#ffffff, #eafae1);
  background:-o-linear-gradient(#ffffff, #eafae1);
  background:linear-gradient(#ffffff, #eafae1);
}
.table td {
  padding:5px 7px;
}
.table tr {
  border-bottom:2px solid #d5f0c6;
}
.table tr:last-child {
  border:0;
}

.warning {
  border:1px solid #c07306;
  color:#fff;
  padding:4px 14px;
  background:#e0901e;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
}
.success {
  border:1px solid #307904;
  color:#fff;
  background:#58a22c;
  padding:4px 14px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
}
.message {
  border:1px solid #def7a0;
  color:#75932b;
  background:#f6ffe0;
  padding:4px 14px;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  border-radius:8px;
}
/* [End skin] */


@media only screen and (max-width:480px) { /* Smartphone */
  .header {
    margin-bottom:0;
  }

  .logo{
    display:block;
    float:none;
    text-align:center;
  }
  
  .menu_main {
    width:100%;
    text-align:center;
    float:none;
    padding:0;
    margin:1em 0 0 0;
  }
  
  .menu_main li a{
    display:inline-block;
    padding:7px;
  }
  .menu_main li.active {
    bottom:0;
  }
  
  .copyright {
    width:100%;
    float:none;
    text-align:center;
  }

  .footer  {
    padding-bottom:0;
  }
  
  .menu_bottom {
    width:100%;
    float:none;
    text-align:center;
    margin:1em 0 0 0;
    padding:0;
  }  
  .menu_bottom a {
    display:inline-block;
    padding:6px;
  }
  
  .form textarea {
    width:100%;
  }  
  .form label {
    padding:10px 0 8px 0;
  }
  
  .log {
    padding:5px 0 0 0;
  }
  .menu_main li a {
    height:auto;
    line-height:auto;
    line-height:inherit;
  }
  .menu_main li.active a {
    position:static;
  }
  
  .header:before,
  .hero:before {
    display:none;
  }
}


@media only screen and (max-width:768px) { /* Tablet */
  .col_33,
  .col_66,
  .col_50  {
    width:98%;
    float:none;
  } 
  
  .form label {
    padding:10px 0 8px 0;
  }
  
  .menu_main {
    font-size:15px;
  }  
  .menu_main li a {
    padding:0 6px;
  }
  
  .header:before,
  .hero:before {
    display:none;
  }
}


@media print { /* Printer */
  * { background:transparent !important; color:black !important; text-shadow:none !important; filter:none !important; -ms-filter:none !important; }
  a, a:visited { color:#444 !important; text-decoration:underline; }
  a[href]:after { content:" (" attr(href) ")"; }
  abbr[title]:after { content:" (" attr(title) ")"; }
  pre, blockquote { border:1px solid #999; page-break-inside:avoid; }
  thead { display:table-header-group; }
  tr, img { page-break-inside:avoid; }
  img { max-width:100% !important; }
  @page { margin:0.5cm; }
  p, h2, h3 { orphans:3; widows:3; }
  h2, h3{ page-break-after:avoid; }
  
  .header, .footer, .form, .header:before, .hero:before{display:none;}
  .col_33, .col_66, .col_50  { width:98%; float:none; } 
}