/* "Simpliste" template. Renat Rafikov. http://cssr.ru/simpliste/ */

/* CSS reset. Based on HTML5 boilerplate reset http://html5boilerplate.com/  */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display:block; }
audio[controls], canvas, video { display:inline-block; *display:inline; *zoom:1; }
html { font-size:100%; overflow-y:scroll; -webkit-overflow-scrolling:touch; -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
body { margin:0; font-size:13px; line-height:1.231; }
body, button, input, select, textarea { font-family:sans-serif; color:#222; }
a { color:#00e; }
a:visited { color:#551a8b; }
a:focus { outline:thin dotted; }
a:hover, a:active { outline:0; }
abbr[title] { border-bottom:1px dotted; }
b, strong { font-weight:bold; }
blockquote { margin:1em 40px; }
dfn { font-style:italic; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
ins { background:#ff9; color:#000; text-decoration:none; }
mark { background:#ff0; color:#000; font-style:italic; font-weight:bold; }
pre, code, kbd, samp { font-family:monospace, monospace; _font-family:'courier new', monospace; font-size:1em; }
pre { white-space:pre; white-space:pre-wrap; word-wrap:break-word; }
q { quotes:none; }
q:before, q:after { content:""; content:none; }
small { font-size:85%; }
sub, sup { font-size:75%; line-height:0; position:relative; vertical-align:baseline; }
sup { top:-0.5em; }
sub { bottom:-0.25em; }
ul, ol { margin:1em 0; padding:0 0 0 2em; }
dd { margin:0 0 0 40px; }
nav ul, nav ol { list-style:none; margin:0; padding:0; }
img { border:0; -ms-interpolation-mode:bicubic; }
svg:not(:root) { overflow:hidden;}
figure { margin:0; }
form { margin:0; }
fieldset { border:0; margin:0; padding:0; }
legend { border:0; *margin-left:-7px; padding:0; }
label { cursor:pointer; }
button, input, select, textarea { font-size:100%; margin:0; vertical-align:baseline; *vertical-align:middle; }
button, input { line-height:normal; *overflow:visible; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor:pointer; -webkit-appearance:button; }
input[type="checkbox"], input[type="radio"] { box-sizing:border-box; }
input[type="search"] { -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; }
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0; }
textarea { overflow:auto; vertical-align:top; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color:#f0dddd; }
table { border-collapse:collapse; border-spacing:0; }
.hidden { display:none; visibility:hidden; }
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }
/* End CSS reset */


/* Columns 
-------
.col_33 | .col_33 | .col_33
.clearfix
-------
.col_66 | .col_33
.clearfix
-------
.col_50 | .col_50
.clearfix
-------
.col_100
-------
*/
.col_33 {
  width:31%;
  margin:0 2% 0 0;
  float:left;
}

.col_50 {
  width:48%;
  margin:0 2% 0 0;
  float:left;
}

.col_66 {
  width:64%;
  margin:0 2% 0 0;
  float:left;
}

.col_100 {
  width:98%;
  margin:0 2% 0 0;
}
/* End columns */


/* Helper classes */
.center {text-align:center;}
.left {text-align:left;}
.right {text-align:right;}

.img_floatleft {float:left; margin:0 10px 5px 0;}
.img_floatright {float:right; margin:0 0 5px 10px;}

.img {max-width:100%;}
/* End helper classes */


/* [Skin "Blackberry"] */
.container {
  max-width:1300px;
  margin:0 auto;
}

.header {
  padding:2em 2% 2em;
  background:#70779C;
  color:#fff;
  margin:0 1% 1em;  
  -webkit-border-radius:0 0 30% 30% / 0 0 12px 12px;
  -moz-border-radius:0 0 30% 30% / 0 0 12px 12px;
  border-radius:0 0 30% 30% / 0 0 12px 12px;
  -webkit-box-shadow: rgba(0,0,0,0.1) 0px 3px 3px;
  -moz-box-shadow: rgba(0,0,0,0.1) 0px 3px 3px;
  box-shadow: rgba(0,0,0,0.1) 0px 3px 3px;  
  background: -moz-radial-gradient(center top, farthest-corner, #97A1D2 10%, #70779C 67%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%,#97A1D2), color-stop(67%,#70779C));
  background: -webkit-radial-gradient(center top, farthest-corner, #97A1D2 10%, #70779C 67%);
  background: -o-radial-gradient(center top, farthest-corner, #97A1D2 10%, #70779C 67%);
  background: -ms-radial-gradient(center top, farthest-corner, #97A1D2 10%, #70779C 67%);
  background: radial-gradient(center top, farthest-corner, #97A1D2 10%, #70779C 67%); 
}

.logo {
  float:left;
  display:inline-block;
  font-size:18px;
  color:#FFD400;
}

.menu_main {
  width:50%;
  float:right;
  text-align:right;
  margin:0.3em 0 0 0;
}

.menu_main a,
.menu_main a:visited {
  color:#fff;
}
.menu_main a:hover,
.menu_main a:visited:hover {
  color:#FFD400;
}


.menu_main li {
  display:inline-block;
  margin:0 0 0 7px;
}

.menu_main li.active,
.menu_main li.active a {
  text-decoration:none;
  cursor:default;
}

.hero {
  background:#70779C;
  color:#fff;
  padding:0.5em 0 1em 2%;
  margin:0 1% 1em;
  position:relative;
}
.hero:before {
  content:"";
  display:block;
  position:absolute;
  left:0;
  top:10%;
  height:80%;
  width:100%;
  z-index:-1;
  -webkit-border-radius:12px/90px;
  -moz-border-radius:12px/90px;
  border-radius:12px/90px;
  -webkit-box-shadow: rgba(0,0,0,0.5) 0px 0px 8px;
  -moz-box-shadow: rgba(0,0,0,0.5) 0px 0px 8px;
  box-shadow: rgba(0,0,0,0.5) 0px 0px 8px;
}

.hero a,
.hero a:visited {
  color:#fff;
}


.article {
  padding:0 0 2em 2%;
  margin:0 1% 0;
  background:#fff;
  -webkit-box-shadow: rgba(0,0,0,0.4) 0px 0px 4px;
  -moz-box-shadow: rgba(0,0,0,0.4) 0px 0px 4px;
  box-shadow: rgba(0,0,0,0.4) 0px 0px 4px;
}

.footer {
  padding:2em 2% 3em 2%;
  color:#fff;
}

.copyright {
  width:49%;
  float:left;
}

.menu_bottom {
  width:50%;
  float:right;
  text-align:right;
  margin:0;
  padding:0;
}
.menu_bottom li {
  display:inline-block;
  margin:0 0 0 7px;
}
.menu_bottom li.active,
.menu_bottom li.active a {
  text-decoration:none;
  cursor:default;
}

.menu_bottom a,
.menu_bottom a:visited {
  color:#fff;
}
.menu_bottom a:hover,
.menu_bottom a:visited:hover {
  color:#FFD400;
}

/* Skin appearance */
body {
  font-family:arial, sans-serif;
  color:#333;
  background:#676D8F;
}

a { color:#004dd9; }
a:hover { color:#ea0000; }
a:visited { color:#551a8b; }

ul li, ol li {
  padding:0 0 0.4em 0;
}

.hero h1 {
  font-size:26px;
  color:#fff;
}

h1, h2 {
  font-weight:normal;
  color:#000;
}

h3, h4, h5, h6 {
  font-weight:bold;
  color:#000;
}

h1 {
  font-size:22px;
}

.form label {
  display:inline-block;
  padding:0 0 4px 0;
}

.hero a.button,
a.button,
.button {
  border: 1px solid #EDB200;
  text-align:center; 
  text-decoration:none;
  text-shadow:1px 1px 0 #F9E67B;
  background:#FFD400;  
  background: -moz-radial-gradient(center top, farthest-corner, #F9E67B 10%, #FFD400 67%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%,#F9E67B), color-stop(67%,#ffd400));
  background: -webkit-radial-gradient(center top, farthest-corner, #F9E67B 10%, #FFD400 67%);
  background: -o-radial-gradient(center top, farthest-corner, #F9E67B 10%, #FFD400 67%);
  background: -ms-radial-gradient(center top, farthest-corner, #F9E67B 10%, #FFD400 67%);
  background: radial-gradient(center top, farthest-corner, #F9E67B 10%, #FFD400 67%);  
  color:#3F4256;
  padding:10px 20px;
  font-family:verdana, sans-serif;
  display:inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
  box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
}

a.button:hover,
.button:hover {
  -webkit-box-shadow: rgba(0,0,0,0.5) 0px 1px 4px;
  -moz-box-shadow: rgba(0,0,0,0.5) 0px 1px 4px;
  box-shadow: rgba(0,0,0,0.5) 0px 1px 4px;
  background:#ffc000;
  background: -moz-radial-gradient(center top, farthest-corner, #F9E67B 10%, #ffc000 67%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%,#F9E67B), color-stop(67%,#ffc000));
  background: -webkit-radial-gradient(center top, farthest-corner, #F9E67B 10%, #ffc000 67%);
  background: -o-radial-gradient(center top, farthest-corner, #F9E67B 10%, #ffc000 67%);
  background: -ms-radial-gradient(center top, farthest-corner, #F9E67B 10%, #ffc000 67%);
  background: radial-gradient(center top, farthest-corner, #F9E67B 10%, #ffc000 67%);  
}
a.button:active,
.button:active {
  background:#ffc000;  
  color:#584B00;
  text-shadow:1px 1px 1px #fff;
  -webkit-box-shadow: rgba(0,0,0,0.7) 0px 1px 4px inset;
  -moz-box-shadow: rgba(0,0,0,0.7) 0px 1px 4px inset;
  box-shadow: rgba(0,0,0,0.7) 0px 1px 4px inset;
}

.table {
  width:100%;
}
.table th {
  padding:5px 7px;
  font-weight:normal;
  text-align:left;
  font-size:16px;
}
.table td {
  padding:5px 7px;
}
.table tr {
  border-bottom:1px solid #ddd;
}
.table tr:last-child {
  border:0;
}

.warning {
  color:#fff;
  padding:8px 14px;
  background:#FF3E31;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
  box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
}
.success {
  color:#fff;
  background:#4ABF3B;
  padding:8px 14px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
  box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
}
.message {
  color:#3F4256;
  background:#F9E678;
  padding:8px 14px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
  -moz-box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
  box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
}
/* [End skin] */


@media only screen and (max-width:480px) { /* Smartphone */
  .header {
    margin: 0 0 0.4em;
    padding: 0.4em 0 0.4em;
  }

  .logo{
    display:block;
    float:none;
    text-align:center;
  }
  
  .menu_main {
    width:100%;
    text-align:center;
    float:none;
    padding:0;
    margin:1em 0 0 0;
  }
  
  .menu_main a {
    display:inline-block;
    padding:7px;
  }
  
  .copyright {
    width:100%;
    float:none;
    text-align:center;
  }

  .footer  {
    padding-bottom:0;
  }
  
  .menu_bottom {
    width:100%;
    float:none;
    text-align:center;
    margin:1em 0 0 0;
    padding:0;
  }  
  .menu_bottom a {
    display:inline-block;
    padding:6px;
  }
  
  .form textarea {
    width:100%;
  }  
  .form label {
    padding:10px 0 8px 0;
  }
}


@media only screen and (max-width:768px) { /* Tablet */
  .col_33,
  .col_66,
  .col_50  {
    width:98%;
    float:none;
  } 
  
  .form label {
    padding:10px 0 8px 0;
  }
}


@media print { /* Printer */
  * { background:transparent !important; color:black !important; text-shadow:none !important; filter:none !important; -ms-filter:none !important; }
  a, a:visited { color:#444 !important; text-decoration:underline; }
  a[href]:after { content:" (" attr(href) ")"; }
  abbr[title]:after { content:" (" attr(title) ")"; }
  pre, blockquote { border:1px solid #999; page-break-inside:avoid; }
  thead { display:table-header-group; }
  tr, img { page-break-inside:avoid; }
  img { max-width:100% !important; }
  @page { margin:0.5cm; }
  p, h2, h3 { orphans:3; widows:3; }
  h2, h3{ page-break-after:avoid; }
  
  .header, .footer, .form {display:none;}
  .col_33, .col_66, .col_50  { width:98%; float:none; } 
}